body {
    box-sizing: border-box;
    display: block;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Jost*', sans-serif;
    background: #FDE5FD;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo {
    width: 100%;
    height: 200px;
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.title {
    margin: 20px 0;
}

.promocao {
    width: 80%;
    display: flex;
    gap: 50px;
    background-color: white;
    box-sizing: border-box;
    padding: 15px 10px;
    max-height: 250px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 10px;
}

  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
.promocao::-webkit-scrollbar {
    width: 16px;
  }

.promocao::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .promocao::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.secao-promocao{
    width: 200px;
    height: 200px;

    border-radius: 10px;
    background: rgba(114, 204, 140, 0.5);;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    background-color: #BD77BD;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    cursor: pointer;
}


.catalogo { 
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    background-color: white;
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.buques {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    background-color: white;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 10px;
}

.arranjos {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    background-color: white;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 10px;
}

.secao-flores, 
.secao-buque, 
.secao-arranjo {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    border-radius: 10px;
    background: rgba(114, 204, 140, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.secao-flores .imagem-catalogo,
.secao-promocao .imagem-promocao, 
.secao-buque .imagem-buque, 
.secao-arranjo .imagem-arranjo {
    width: 100%;
    height: 70%;
    text-align: center;
    box-sizing: border-box;

}

.secao-flores .imagem-catalogo img,
.secao-promocao .imagem-promocao img,
.secao-buque .imagem-buque img,
.secao-arranjo .imagem-arranjo img {
    width: 200px;
    height: 130px;
    border-radius: 10px;
}

.info {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 0 20px 15px;
}

.info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -3px;
    right: 30px;
}

.info ul li {
    font-size: 22px;
}

.info ul li:hover {
    transform: scale(1.2);
}

.info ul li i.desejo {
    color: #641764;
}

.info ul li i.carrinho {
    color: #641764;
}

.title, .info{
    color: #641764

}