* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Jost*', sans-serif;
    /* background: FDE5FD; */
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #641764;
    width: 100%;
    height: 120px;
    max-height: 300px;
}

.cabecalho__imagem {
    display: flex;
    background-color: #641764;
    width: 146px;
    border-radius: 100%;
}


.telefone {
    display: flex;
    position: absolute;
    top: 10px;
    left: 65%;
    border-radius: 70px;
    padding: 10px;
    width: 250px;
    height: 30px;
}

.tel-img {
    display: flex;
    position: absolute;
    top: 20px;
    left: 57%;
    width: 20px;
    margin: 20px;
}

.numero {
    display: flex;
    margin: 20px 50px 1px auto;
}

input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 20px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.traco {
    display: flex;
    position: absolute;
    background-color: #000;
    top: 50px;
    right: 190px;
    width: 2px;
    height: 40px;
}

.ul-icons {
    list-style-type: none;
    text-align: center;
    position: absolute;
    right: 167px;
    top: 27px;
    cursor: pointer;
    color: #BD77BD;
    
}

.ul-icons li {
    margin-top: 2px;
}

.ul-icons li:hover {
    transform: scale(1.2);
}

.menu-bar {
    height: 20px;
    background-color: #BD77BD;
    border: 1px solid;
    display: flex;
    align-items: center;
}

.menu-bar ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
    color: #641764;

}

.menu-bar ul li {
    display: flex;
    cursor: pointer;
}